<div class="vue-image-filler" ref="outer">
	<input type="file"
		ref="uploadInput"
		accept="image/png, image/jpg, image/jpeg"
		@change="fileChangeHandle($event)"
		class="vue-image-filler-real-input"
	/>
	<template v-if="!isFileSelected">
		<div class="vue-image-filler-view">
			<button @click="triggerFileSelect" class="vue-image-filler-button">选择图片</button>
			<p>仅支持jpg、png、jpeg格式文件上传！</p>
		</div>
	</template>
	<template v-else>
		<div class="vue-image-filler-canvas"
			:style="{
				height: size.canvasHeight
			}"
			@mousedown="moveImage"
			@touchstart="moveImage"
		>
			<div class="vue-image-filler-canvas-img" ref="canvasImage"
				:style="{
					width: imageWidthInView + 'px',
					height: imageHeightInView + 'px',
					marginTop: size.offsetTop + 'px',
					marginLeft: size.offsetLeft + 'px'
				}"
			></div>
			<div
				class="vue-image-filler-canvas-mask"
				:style="{
					width: size.cropWidthInView + 'px',
					height: size.cropHeightInView + 'px',
				}"
			></div>
		</div>
		<Slider
			:min="size.scaleMin"
			:max="size.scaleMax"
			v-model="size.scale"
	  />
	  <div class="vue-image-filler-footer">
			<button class="vue-image-filler-button" @click="upload">上传</button>
			<button class="vue-image-filler-text-button" @click="triggerFileSelect">重新上传</button>
		</div>
	</template>
</div>